mods/
saves/
crash-reports/
downloads/
logs/
reauth.toml
usercache.json
usernamecache.json
realms_persistence.json
options.txt
local/
notes.txt
backups/
.mixin.out/
.vscode/
backups/
minecolonies/
resourcepacks/
schematics/
skyblock_exports/
structurize/
emojiful/

